* {

    padding: 0;
    margin: 0;
}

.nav-bar{
    background-color: rgba(101,158,205,0.81); color: #00538F;
    font-size: 40px;
    display: flex;
    padding-left: 2%;
    padding-top: 0.5%;

}

.conteudo {
    background: rgb(233,239,230);
    background: linear-gradient(0deg, rgba(233,239,230,1) 20%, rgba(101,158,205,0.81) 80%);
    width: 100%;
    height: 100%;
    position: fixed;
}
.ondas{
    position: fixed;
    width: 100%;
    bottom: 0%;


}

#onda1 {
    bottom: 0;
    position: fixed;
    transform-origin: center;
}
#onda2 {
    position: fixed; 
    bottom: 0;
}
#imagem{
    background-color: D9D9D9;
    bottom: 0;
    position: fixed;
    padding-left: 75px;
    padding-bottom: 30px;
    height: 120px;
    width: 300px;
}
    